h2 {
	margin-left: 8px;
	margin-top: 5px;
	margin-bottom: 0px;
}

.tbpanel {
	table-layout: fixed;
	border-spacing: 5px;
	/*vertical-align: top;*/
}

.tblsliders {
	border-spacing: 0px;
}

th,
td {
	padding: 5px;
	vertical-align: top;
	font-size: small;
}

ul {
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 480px;
	max-height: 640px;
}

img {
	border-radius: 10px;
	display: block;
	width: 100%;
}