<table width="100%" border="0" style="font-size: small;border-spacing: 12px;">
    <tr>
        <td id="tdThumbnail">
            <img id="imgDialogThumbnail" />
        </td>
        <td id="tdBasicInfo">
            <h4 id="divName"></h4>
            <div id="divWorkability"></div>
            <br/>
            <div id="divDropzone"></div>
        </td>
    </tr>
    <tr>
        <td id="tdProperties" colspan="2"></td>
    </tr>
    <tr>
        <td id="tdTags" colspan="2"></td>
    </tr>
</table>